node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

.replit
.config/
.cache/
.local/
.upm/
replit.md

public/uploads/*
!public/uploads/.gitkeep

.env
.env.local
.env.production
.env.development

package-lock.json
