/* Estilo para o favicon */
.favicon-container {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20%;
  box-sizing: border-box;
  background-color: transparent;
}

.favicon-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}